// Personalised reset on top of modern-normalize

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    // Fixes bold looking fonts on macOS in Chrome & Safari
    -webkit-font-smoothing: antialiased;
    // Fixes bold looking fonts on macOS in Firefox
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.4;
    overflow-y: scroll;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background: none;
    border: none;
    font-family: inherit;
    text-align: inherit;
    font-size: inherit;
    letter-spacing: inherit;
}

button,
textarea,
input {
    &:focus {
        outline: none;
    }
}

input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    // Edge
    &::-webkit-input-placeholder {
        color: inherit;
    }
    &::placeholder {
        color: inherit;
        opacity: inherit;
    }
    &::-ms-clear {
        display: none;
        width: 0;
        height: 0;
    }
    // Clears the 'X' from Chrome
    &[type=search] {
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            display: none;
        }
    }
}

button,
textarea,
input,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}