@use '../styles/variables' as *;

@font-face {
    font-family: 'Clash Display';
    font-weight: 700;
    font-style: normal;
    src:
        url('/fonts/clashdisplay-bold.woff2') format('woff2'),
        url('/fonts/clashdisplay-bold.woff') format('woff');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
    src:
        url('/fonts/poppins-regular.woff2') format('woff2'),
        url('/fonts/poppins-regular.woff') format('woff');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    src:
        url('/fonts/poppins-semibold.woff2') format('woff2'),
        url('/fonts/poppins-semibold.woff') format('woff');
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

html {
    --font-copy: #{$font-copy};
    --font-display: #{$font-display};
    --font-weight: #{$font-weight};
    --line-height: #{$line-height};
    --letter-spacing: #{$letter-spacing};

    --col-navy: #{$col-navy};
    --col-primary: #{$col-primary};
    --col-secondary: #{$col-secondary};
    --col-pale-blue: #{$col-pale-blue};
    --col-salmon: #{$col-salmon};
    --col-salmon-fade: #{$col-salmon-fade};
    --col-white: #{$col-white}; 
    --col-grey-light: #{$col-grey-light};

    --ease-out-quint: #{$ease-out-quint};
    --ease-in-out-quint: #{$ease-in-out-quint};
    --ease-out-back: #{$ease-out-back};

    &.has-scroll-init {
        body { overflow: visible; }
    }
}
body {
    line-height: var(--line-height);
    font-family: var(--font-copy);
    letter-spacing: var(--letter-spacing);
    color: var(--col-navy);
    background-color: var(--col-white);
    overflow: hidden;
}
a, button {
    &:focus { outline: none; }
    &:focus-visible { box-shadow: 0px 0px 0px 4px transparentize($col-salmon, 0.5); }
}
// These have to be separate selectors otherwise they won't work
::-moz-selection {
    color: var(--col-navy);
    background-color: var(--col-salmon-fade);
} 
::selection {
    color: var(--col-navy);
    background-color: var(--col-salmon-fade);
}
::before::selection {
    color: var(--col-navy);
    background-color: var(--col-salmon-fade);
}
::after::selection {
    color: var(--col-navy);
    background-color: var(--col-salmon-fade);
}