---
import DefaultLayout from '../layouts/default-layout.astro'
// import Scroll from '../components/scroll.vue'
import Loader from '../components/loader.vue'
import Header from '../components/header.astro'
import Section from '../components/section.astro'
import Hero from '../components/hero.astro'
import Footer from '../components/footer.astro'

const fonts = [
    {
        name: 'Clash Display',
        url: '/fonts/clash-display-regular.woff2',
        weight: 400,
    },
    {
        name: 'Clash Display',
        url: '/fonts/inter-light.woff2',
        weight: 300,
    },
]

const images = [{}, {}, {}, {}, {}, {}, {}, {}]
--- 

<DefaultLayout>
<!-- <Scroll view={'.js-view'} client:only /> -->
<Loader
    images={images}
    fonts={fonts}
    client:load
/>
<Header />
<main class="js-view">
    <Section>
        <Hero />
    </Section>
    <Section>
        <Hero />
    </Section>
</main>
<Footer />
</DefaultLayout>
