---
import DefaultLayout from '../layouts/default-layout.astro'
import Scroll from '../components/scroll.vue'
import Header from '../components/header.astro'
import Section from '../components/section.astro'
import Hero from '../components/hero.astro'
import Footer from '../components/footer.astro'
---

<DefaultLayout>
<Scroll view={'.js-view'} client:only />
<Header />
<main class="js-view">
    <Section>
        <Hero />
    </Section>
    <Section>
        <Hero />
    </Section>
</main>
<Footer />
</DefaultLayout>
