---
import style from '../styles/global.scss'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Donna Rice</title>
        <meta name="description" content="The work of Donna Rice, a draftsperson and senior PA from Newcastle, Australia" />

        <meta property="og:title" content="Donna Rice" />
        <meta property="og:description" content="The work of Donna Rice, a draftsperson and senior PA from Newcastle, Australia" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://donnarice.work" />
        <meta property="og:image" content="/theme/image.png" />

        <link rel="icon" type="image/png" sizes="16x16" href="/theme/favicon-16.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/theme/favicon-32.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/theme/apple-touch-icon.png" />
    </head>
    <body>
        <slot />
    </body>
</html>