---
let rootClass = 'visually-hidden'
if (Astro.props.isFocusable) rootClass += ' focusable'
---

<span class={rootClass}>
<slot />
</span>

<style lang="scss">
.visually-hidden {
    &:not(.focusable),
    &.focusable:not(:focus) {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
}
</style>